# Папки с виртуальным окружением
.venv/
env/

# Файлы с секретными данными (токены, пароли)
.env

# Базы данных
*.sqlite3
*.db
*.db-journal

# Кэш и служебные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Кэш инструментов для проверки кода (линтеров)
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Дистрибутивы и файлы сборки
build/
dist/
*.egg-info/
